:root {
    --color1: #282D43;
    --color2: #A8AABC;
    --color3: #747687;
    --color4: #442628;
    --color5: #755355;
    --backColor: #F7F9FF;
    --backSideBar: #dfe2ec;
    --sideBarHover: #cfd4e2;
    --sideBarSize: 240px;
}


body {
    font-family: 'Courier New', monospace;
    padding: 0;
    margin: 0;
    background-color: var(--backColor);
    color: var(--color1);
  }


/* Avoid the navbar from covering the titles */
html {
    scroll-padding-top: 50px; 
}




/* #################### Header Styling #################### */

header {
    text-align: center;
}








/* #################### Navigarion Bar Styling #################### */
.nav-sticky-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}




/* Add a background color to the top navigation bar */
.nav-bar {
    background-color: var(--color1);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav-bar h4,
  .nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav-bar h4 {
    margin: 0;
  }

  /* Change the color of links on hover */
  .nav-bar a:hover {
    background-color: var(--color2);
    color: var(--color1);
    font-weight: bold;
  }
  
  /* Add a color to the active/current link */
  .nav-bar a:active {
    background-color: var(--color4);
    color: white;
  }

  .left-side-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--backSideBar);
    width: var(--sideBarSize);
    position: absolute;
    top:47px;
    left: 0;
    bottom: -94vh;
    overflow-y: auto;
    flex-grow: 1;
    padding-bottom: 45vh;
  }

  .left-side-bar a{
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    color: var(--color4);
  }

  .left-side-bar a:hover {
    background-color: var(--sideBarHover);
  }

  .left-side-bar a:active {
    background-color: rgb(232, 167, 84);
    color: black
  }



  .page-content {
    margin-left: var(--sideBarSize);
    padding-left: 1em;
    margin-right: 2em;;
  }




  footer{
    background: var(--color1);
    margin-left: var(--sideBarSize);
    padding: 25px 0 10px;
    text-align: center;
    color: var(--backColor);
    font-size: 40px;
  }


  .copyright {
    margin-top: 30px;
    font-size: 18px;
  }

  footer a {
    text-decoration: none;
    color: var(--backColor);
  }